<footer class="footer" role="contentinfo">
  <div class="container">
    <p>mBase docs are maintained by <a href="">devWayne</a>.</p>
    <p>Documentation source code released under the MIT License</a>.</p>
  </div>
</footer>
